<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235329436627-9dkpii6vihbe68da853vggi8htss56tu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235329436627-9dkpii6vihbe68da853vggi8htss56tu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>235329436627-qjdruco5117e0ohfnk9mp675e7ek96c4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDn5FEjHESrguuvzDfSpfQpV2pjM-5M1to</string>
	<key>GCM_SENDER_ID</key>
	<string>235329436627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deu.tripstory</string>
	<key>PROJECT_ID</key>
	<string>tripstory-108d8</string>
	<key>STORAGE_BUCKET</key>
	<string>tripstory-108d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235329436627:ios:1afbfef7f84c1617a24d26</string>
	<key>DATABASE_URL</key>
	<string>https://tripstory-108d8.firebaseio.com</string>
</dict>
</plist>